@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Students Data Base Application</h1>

    <a type="button" class="btn btn-lg btn-outline-primary" asp-controller="Student" asp-action="Index">Students data</a>
</div>

<div class="lead">
    <p class="text-class">This application containts following functions:</p>
    <ul>
        <li>
            Creating record about student in the database.
        </li>
        <li>
            Deleting record about student in the database.
        </li>
        <li>
            Editting record about student in the database.
        </li>
        <li>
            Seeing details.
        </li>
    </ul>
</div>
